<div class="text-center">
  <h1>フォルダ詳細</h1>
</div>

<div>
  <h3>フォルダ名：<%= @folder.name %></h3>
  <br>
  <div>
    <%= link_to '編集', edit_folder_path(@folder), class: 'btn btn-primary' %>
    <%= link_to '削除', @folder, method: :delete, data: {confirm: 'フォルダを削除するとツイートのお気に入りが全て解除されます。<br>本当によろしいですか？'}, class: 'btn btn-danger' %>
  </div>
</div>