<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'お気に入り', folders_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'ユーザー', favorite_users_path, class: 'nav-link active' %>
      </li>
    </ul>
    <table class="table table-bordered">
      <% @favorite_users.each do |favorite_user| %>
        <tr>
          <td><%= link_to favorite_user.twitter_account, favorite_user %></td>
        </tr>
      <% end %>
      <tr>
        <td class="text-center"><%= link_to '＋', new_favorite_user_path, class: 'btn btn-primary w-50' %></td>
      </tr>
    </table>
  </div>
</div>