<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'お気に入り', folders_path, class: 'nav-link active' %>
  </li>
  <li>
    <%= link_to 'ユーザー', favorite_users_path, class: 'nav-link' %>
  </li>
</ul>
